node_modules
**/node_modules

.cache/
build
dist
container-forensics

.env
.docker
.git
.github
.vscode

test_infisical_container_run.sh
stack.env
bash-scratchpad.sh
localrunner.Dockerfile
builder.Dockerfile
dev.sh
cache.db
infisical.dev.env
start.sh
features-dev-log
tools/
README.md
